.navbar-container {
  h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    color: transparent;
    background-clip: text;
  }
  a {
    text-decoration: none;
    background-image: linear-gradient(
      to bottom left,
      #553c9a,
      var(--brand-color)
    );
    color: transparent;
    background-clip: text;
    overflow: hidden;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
