.star {
  cursor: pointer;
  font-size: 1.8rem;
  opacity: 0.8;

  :hover {
    transform: scale(1.05);
  }

  :active {
    transform: scale(0.95);
  }
  @media (max-width: 500px) {
    position: absolute;
    right: 0;
    z-index: 1;
    margin: 1rem;
    font-size: 2rem;
  }
}

.starred {
  color: rgb(255, 255, 0);
}
.unstarred {
  color: var(--LightGray-color);
}

.back-arrow {
  color: var(--LightGray-color);
  position: absolute;
  left: 0;
  z-index: 1;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
  
}

.back-arrow, .star {
  :hover {
    transform: scale(1.05);
  }

  :active {
    transform: scale(0.95);
  }
}