.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  input[type="text"] {
    background-color: var(--darkGray-color);
    color: var(--white-color);
    width: 100%;
    max-width: 500px;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    
  }
}
