.movie-list-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  padding: 1rem 0.5rem;

  @media (min-width: 768px) {
    padding: 1rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
// .movie-list-container::-webkit-scrollbar {
//     display: none;
//   }

.movie-list-item {
  display: flex;
  margin-right: 1rem;
  transition: transform 0.3s ease-in-out;


  @media (min-width: 768px) {
    margin-bottom: 1rem;
  }

  img {
    --img-width: 210px;
    --img-height: 300px;
    border-radius: 20px;
    width: var(--img-width);
    height: var(--img-height);

    @media (min-width: 968px) {
      width: calc(var(--img-width) * 1.2);
      height: calc(var(--img-height) * 1.2);
    }
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;

    .overlay-info {
      opacity: 1;
    }
  }
}
.overlay-info {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
  display: inline-block;

  overflow: hidden;
  text-overflow: ellipsis;

  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  h3,
  p {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
