@import url('https://fonts.cdnfonts.com/css/poppins');
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --font-base: 'Poppins', sans-serif;
  --brand-color: #0296e5;                                              
  --background-color: #242A32;
  --primary-color: #3f96ff00;
  --scrollbar-color: #266ec4;
  --darkGray-color: #3A3F47;
  --lightGray-color: #cbcbcb;
  --gray-color: #67686D;
  --white-color: #ffffff;
}

html,body {
  background-color: var(--background-color);
  color: var(--white-color);
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 768px) {
    font-size: 18px;
  }
  @media (min-width: 968px) {
    font-size: 20px;
  }
}

